<mat-card *ngIf="postData != undefined">
    <app-avatar [editable] = false [size] = 10 [avatar] = "postData.avatar"></app-avatar>
    <mat-card-header>
    <mat-card-subtitle>{{postData.username}}</mat-card-subtitle>
    <mat-card-title> {{postData.title}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p> {{postData.text}} </p>
    </mat-card-content>
        <div>{{postData.createdAt | date}}</div>
    <br>

    <!-- add comment button -->
    <div *ngIf="!commenting">
        <button (click)="commenting = true">comment</button>
    </div>
    <!-- else  -->
    <div *ngIf="commenting">

        <input matInput [type]="'text'" [formControl]="newCommentFormControll">
        <button mat-raised-button (click)="postComment()">add comment</button>  

        <button (click)="commenting = false; ">cancel</button>
    </div>

    <!-- show comments button -->
    <div *ngIf="postData.comments.length && !showComments">
        <button (click)="showComments = true">show comments</button>
    </div>

    <!-- comments -->
    <div *ngIf="postData.comments.length && showComments">
        <div *ngFor="let comment of postData.comments">
            <mat-card>
                <mat-card-subtitle>{{comment.username}}</mat-card-subtitle>
                <mat-card-content>{{comment.text}}</mat-card-content>
            </mat-card>
        </div>
        <button (click)="showComments = false">hide comments</button>
    </div>

    <br>
    <!-- reactions -->
    <div *ngFor="let reaction of postData.reactions">
        <span>{{reaction.type}}s:</span>
        <span>{{reaction.count}}</span>
    </div>
    <br>
    <button [disabled]="postData.likedByMe" (click)="like()">Like</button>
    <button [disabled]="postData.dislikedByMe" (click)="dislike()">Dislike</button>
    <br>
    <div *ngIf="postData.isMyPost">
        <button (click)="delete()">Delete</button>
    </div>
</mat-card>

