<mat-card>
    <mat-card-header>
    <mat-card-title>Do you have anything important to share?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    
        <mat-label>Post title</mat-label>
        <input matInput [type]="'text'" [formControl]="title">
        <br>
        <mat-label>Text</mat-label>
        <textarea cdkTextareaAutosize rows="2" matInput [formControl]="text"></textarea>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="post()">Post</button>
    </mat-card-actions>
</mat-card>

