<div class="main-container">
    <mat-card style="margin-right: 40px;">
        <mat-toolbar color="primary">Login</mat-toolbar>
        <mat-form-field appearance="fill">
            <mat-label>Enter your username</mat-label>
            <input matInput [type]="'text'" [formControl]="loginUsername">
        </mat-form-field>   
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hideLogin ? 'password' : 'text'" [formControl]="loginPassword">
            <button mat-icon-button matSuffix (click)="hideLogin = !hideLogin" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideLogin">
                <mat-icon>{{hideLogin ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>   
        <button mat-raised-button (click)="login()">Login</button>
    </mat-card>

    <mat-card>
        <mat-toolbar color="primary">Register</mat-toolbar>
        <mat-form-field appearance="fill">
            <mat-label>Enter your username</mat-label>
            <input matInput [type]="'text'" [formControl]="registerUsername">
        </mat-form-field>  
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput [type]="'text'" [formControl]="registerEmail">
        </mat-form-field>   
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hideRegister ? 'password' : 'text'" [formControl]="registerPassword"> 
            <button mat-icon-button matSuffix (click)="hideRegister = !hideRegister" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRegister">
                <mat-icon>{{hideRegister ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field> 
        <button mat-raised-button (click)="register()">Register</button>  
    </mat-card>
</div>
