
<input matInput [type]="'text'" [formControl]="friendUsername">
<button mat-raised-button (click)="sendRequest()">Add Friend</button>  

<h2>Friend Requests</h2>

<div *ngIf="(friendRequestService.friendRequests.length); else postsLoader" class="posts-container">
    <div *ngFor="let fr of friendRequestService.friendRequests">
        <div>{{fr.username}} {{fr.sentAt}}</div>
    </div>
</div>
<ng-template #postsLoader>
    <div *ngIf="friendRequestService.fetched== false">
        <mat-progress-bar mode="query" style="width: 500px;"></mat-progress-bar>
    </div>
</ng-template>